<!DOCTYPE html>
<html>
  <head>
    <title>TechArticles</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:image" content="https://github.com/Ralph-1/lifestyle-article/raw/develop/app/assets/images/screenshot.png"/>
    <meta property="og:title" content="Tech App" />
    <meta property="og:description" content="This is a blogging web app where users read and post about the latest articles. It is built using Ruby on Rails.ss" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="body">
    <div>
      <nav class="navbar">
        <%= link_to 'Tech App', root_path, class: 'navbar__brand' %>
        <%= show_user_links %>
        <%= show_logged_in %>
      </nav>
      <% if notice %>
        <div class="notice notice--success"><%= notice %></div>
      <% end %>
      <% if alert %>
        <div class="notice notice--alert"><%= alert %></div>
      <% end %>

      <%= yield %>
      <footer class="footer">
          <%= link_to 'Tech App', root_path, class: 'footer__brand' %>
          <%= link_to 'Privacy Policy', '', class: 'footer__link footer__link--first' %>
          <%= link_to 'Terms & Conditions', '', class: 'footer__link' %>
          <span class="footer__link footer__link--inactive">&copy; Copyright 2020. All rights reserved.</span>
          <span class="footer__link footer__link--inactive footer__link--first">Connect with us: </span>
          <%= link_to fa_icon('linkedin-square'), '#', class: 'footer__icon' %>
          <%= link_to fa_icon('github-square'), '#', class: 'footer__icon' %>
          <%= link_to fa_icon('twitter-square'), '#', class: 'footer__icon' %>
      </footer>
    </div>
  </body>
</html>
