<!DOCTYPE html>
<html>
  <head>
    <title>TechArticles</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="body">
    <div>
      <nav class="navbar">
        <%= link_to 'Tech Articles', root_path, class: 'navbar__brand' %>
        <%= show_logged_in %>
      </nav>

      <%= yield %>

    </div>
  </body>
</html>
